* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    background:  url('/public/images/fondos/resize.jfif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
  }

  .container{
      background-color: white;
      width: 50%;
      height: 60%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 5px;
      opacity: 0.9;
  
  }

  .form-login{
      padding: 10px;
    
  }

  .form-teclado{
    padding: 10px;
    
  }

  @media (max-width: 800px) {
      
    .container{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: auto;
    }
  
    .form-login{
        
        padding: 10px;
        min-height: auto;
        min-width: auto;
    
    }
  
    .form-teclado{
      padding: 10px;
      display: none;
    }
   }

/* 
.mainlogin {
    height: 100vh;
}

.contenedor{
    width: 46%;
    opacity: 0.9;
    background-color: white;
    min-width: 450px;
	max-width: 1000px;
	margin: auto;
	padding: 40px 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
}
.ContenedorFormulario{
    height: 100%;
    padding: 10px;
    
}
.form-login{
    display: grid;
    height: 60%;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;

}


.contenedor-right{
    padding: 10px;
	display: flex;
	flex-direction: column;
	
}
 .gridContenedor{
    margin-top: 166px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    height: 90%;
}



#modal-root {
    position: relative;
    z-index: 999;
  }
  
  .validation{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .text-message{
      display: flex;
      justify-content: center;
      align-content: center;
      color: white;
      
  } */